.footer-background {
    font-family: 'Quicksand', sans-serif;
    border-top: 4px solid #302504;
    margin-top: 80px;
    height: 200px;
    width: 100%;
    background-color: #080808;
    box-shadow: 5px -3px 10px black;
}

.contact, .mentions {
    text-decoration: none;
    color: white;
}

.contact:hover, .mentions:hover {
    color: #be951a;
    cursor: pointer;
}

#barre {
    margin-left: 15px;
    margin-right: 15px;
}

#ligne_bas {
    border: 2px solid white;
    width: 70%;
    margin: auto;
}

.reseaux {
    color: white;
    width: 15%;
    padding-top: 20px;
    margin: auto;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.reseaux a {
    text-decoration: none;
    color: #be951a;
}

.footer_text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 18px;
    color: white;
    width: 70%;
    margin: auto;
    margin-top: 15px;
}

.entreprise {
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: white;
    margin: auto;
    margin-top: 25px;
}

@media screen and (max-width: 779px) {

.reseaux {
    width: 50%;
}

}