.carousel {
    margin: auto;
    width: 100%;
}

.carousel img {
    height : 350px;
    object-fit: cover;
    opacity: 60%;
}

.video {
    display: flex;
    justify-content: center;
}

#line {
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

.words {
    color : white;
    position: absolute;
    top : 380px;
    right: 30px;
    z-index: 10;
    font-size: 38px;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

/************ RESPONSIVE ORDINATEUR PETITE TAILLE ***************/

@media screen and (min-width: 780px) and (max-width: 1350px) {

.words {
    top : 390px;
    right : 20px;
    font-size: 28px;
}

}

/************ RESPONSIVE TELEPHONE ***************/

@media screen and (max-width: 779px) {
    .words {
        display : none;
    }

    .carousel img {
        height : 250px;
    }
}

