<app-nav></app-nav>
<div class="bloc-contact">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Prénom</label>
        <input class="form-control" type="text" placeholder="Prénom" aria-label="default input example"><br>
        <label for="exampleFormControlInput1" class="form-label">Nom</label>
        <input class="form-control" type="text" placeholder="Nom" aria-label="default input example"><br>
        <label for="exampleFormControlInput1" class="form-label">Adresse email</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nom@exemple.fr"><br>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Message</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-warning mb-3">Envoyer</button>
    </div>
</div>
