.contact-background {
    position: absolute;
    z-index: -99;
    width: 100%;
    height: 170%;
    background: linear-gradient(#51514E, #282722 );
}

.question {
    color: black;
}

.mb-3 p {
    font-weight: 500;
}

.bloc-contact {
    margin-top : 50px;
}

.form-label {
    font-weight: 600;
    color: white;
}

.mb-3, .col-auto {
    width : 40%;
    margin : auto;
}

.map-title {
    background-color: black;
    padding: 5px 10px 5px 10px;
    border-radius: 8px;
    margin-top: 40px;
}

.google-maps {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 80px;
}

.title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.address {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

@media screen and (min-width: 780px) and (max-width: 1350px) {

    .logo_singe {
        display: none;
    }

}
