<ul class="nav justify-content-center">

    <img class="logoSingePhone" src="../../assets/logoSinge.png" alt="logo">

  <li class="nav-item nav-accueil">
    <button type="button" class="btn btn-warning btn-nav btn-accueil">   
      <a class="nav-link" (click)="goToHome()" href="#"><span>Accueil</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-house-fill bi-phone" viewBox="0 0 16 16">
            <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z"/>
            <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"/>
          </svg>
        </a>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill bi-large" viewBox="0 0 16 16">
        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z"/>
        <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"/>
      </svg>
    </button>
  </li>

  <li class="nav-item nav-contact">
    <button type="button" class="btn btn-warning btn-nav btn-contact"> 
      <a class="nav-link" (click)="goToContact()"><span>Contact</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-telephone-fill bi-phone" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
        </svg>
        </a>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill bi-large" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
      </svg>
    </button>
  </li>

  <li class="nav-item nav-gallery">
    <button class="btn btn-warning btn-nav btn-gallery" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">
      <a class="nav-link" href="#"><span>Gallerie</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-image-fill bi-phone" viewBox="0 0 16 16">
            <path d="M.002 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-12a2 2 0 0 1-2-2V3zm1 9v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V9.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12zm5-6.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0z"/>
          </svg>
        </a>
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-image-fill bi-large" viewBox="0 0 16 16">
        <path d="M.002 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-12a2 2 0 0 1-2-2V3zm1 9v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V9.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12zm5-6.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0z"/>
      </svg>
    </button>   
    
    <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
      <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
      
        <div class="phone_gallery">
            <img src="../../assets/capture_video2.png" alt="">
            <img src="../../assets/capture_video3.png" alt="">
            <img src="../../assets/capture_video4.png" alt="">
            <img src="../../assets/capture_video5.png" alt="">
            <img src="../../assets/capture_video6.png" alt="">
            <img src="../../assets/capture_video7.png" alt="">
            <img src="../../assets/capture_video8.png" alt="">
            <img src="../../assets/capture_video9.png" alt="">
            <img src="../../assets/capture_video10.png" alt="">
            <img src="../../assets/capture_video11.png" alt="">
            <img src="../../assets/sallePriv1.jpeg" alt="">
            <img src="../../assets/sallePriv2.jpeg" alt="">
            <img src="../../assets/salleInt4.jpg" alt="">
            <img src="../../assets/salleInt3.jpg" alt="">
            <img src="../../assets/salleInt2.jpg" alt="">
            <img src="../../assets/salleInt1.jpg" alt="">
            <img src="../../assets/terrasse1.jpg" alt="">
            <img src="../../assets/terrasseExt5.jpg" alt="">
            <img src="../../assets/terrasseExt6.JPG" alt="">
            <img src="../../assets/facade2.jpg" alt="">
        </div>

        <section>
          <div class="container">
              <div class="carousel">
                  <input type="radio" name="slides" checked="checked" id="slide-1">
                  <input type="radio" name="slides" id="slide-2">
                  <input type="radio" name="slides" id="slide-3">
                  <input type="radio" name="slides" id="slide-4">
                  <input type="radio" name="slides" id="slide-5">
                  <input type="radio" name="slides" id="slide-6">
                  <input type="radio" name="slides" id="slide-7">
                  <input type="radio" name="slides" id="slide-8">
                  <ul class="carousel__slides">
                      <li class="carousel__slide">
                          <figure>
                              <div>
                                  <img src="../../assets/sallePriv1.jpeg" alt="">
                              </div>                    
                          </figure>
                      </li>
                      <li class="carousel__slide">
                          <figure>
                              <div>
                                  <img src="../../assets/salleInt4.jpg" alt="">
                              </div>
                          </figure>
                      </li>
                      <li class="carousel__slide">
                          <figure>
                              <div>
                                  <img src="../../assets/salleInt3.jpg" alt="">
                              </div>
                          </figure>
                      </li>
                      <li class="carousel__slide">
                          <figure>
                              <div>
                                  <img src="../../assets/salleInt2.jpg" alt="">
                              </div>
                          </figure>
                      </li>
                      <li class="carousel__slide">
                          <figure>
                              <div>
                                  <img src="../../assets/salleInt1.jpg" alt="">
                              </div>
                          </figure>
                      </li>
                      <li class="carousel__slide">
                          <figure>
                              <div>
                                  <img src="../../assets/facade3.jpg" alt="">
                              </div>
                          </figure>
                      </li>
                      <li class="carousel__slide">
                          <figure>
                              <div>
                                  <img src="../../assets/facade1.jpg" alt="">
                              </div>
                          </figure>
                      </li>
                      <li class="carousel__slide">
                          <figure>
                              <div>
                                  <img src="../../assets/facade2.jpg" alt="">
                              </div>
                          </figure>
                      </li>
                  </ul>    
                  <ul class="carousel__thumbnails">
                      <li>
                          <label for="slide-1"><img src="../../assets/sallePriv1.jpeg" alt=""></label>
                      </li>
                      <li>
                          <label for="slide-2"><img src="../../assets/salleInt4.jpg" alt=""></label>
                      </li>
                      <li>
                          <label for="slide-3"><img src="../../assets/salleInt3.jpg" alt=""></label>
                      </li>
                      <li>
                          <label for="slide-4"><img src="../../assets/salleInt2.jpg" alt=""></label>
                      </li>
                      <li>
                          <label for="slide-5"><img src="../../assets/salleInt1.jpg" alt=""></label>
                      </li>
                      <li>
                          <label for="slide-6"><img src="../../assets/facade3.jpg" alt=""></label>
                      </li>
                      <li>
                          <label for="slide-7"><img src="../../assets/facade1.jpg" alt=""></label>
                      </li>
                      <li>
                          <label for="slide-8"><img src="../../assets/facade2.jpg" alt=""></label>
                      </li>
                  </ul>
              </div>
          </div>
      </section>

      </div>
    </div>
  </li>
  
</ul>

<img class="logoSinge" src="../../assets/logoSinge.png" alt="logo">

