/***************** CAROUSEL *********************/

section {
    background: #2c2b28;
    padding: 0px 50px 50px 50px;
}

.bi-phone {
    display: none;
}

.logoSingePhone {
    display: none;
}

.bi-camera-fill {
    display: none;
}

.phone_gallery {
    display: none;
}

.container {
    max-width: 1044px;
    margin: 0 auto;
    padding: 0 20px;
}
.carousel {
    display: block;
    text-align: left;
    position: relative;
    margin-bottom: 22px;
}
.carousel > input {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}
.carousel > input:nth-of-type(8):checked ~ .carousel__slides .carousel__slide:first-of-type {
    margin-left: -700%;
}
.carousel > input:nth-of-type(7):checked ~ .carousel__slides .carousel__slide:first-of-type {
    margin-left: -600%;
}
.carousel > input:nth-of-type(6):checked ~ .carousel__slides .carousel__slide:first-of-type {
    margin-left: -500%;
}
.carousel > input:nth-of-type(5):checked ~ .carousel__slides .carousel__slide:first-of-type {
    margin-left: -400%;
}
.carousel > input:nth-of-type(4):checked ~ .carousel__slides .carousel__slide:first-of-type {
    margin-left: -300%;
}
.carousel > input:nth-of-type(3):checked ~ .carousel__slides .carousel__slide:first-of-type {
    margin-left: -200%;
}
.carousel > input:nth-of-type(2):checked ~ .carousel__slides .carousel__slide:first-of-type {
    margin-left: -100%;
}
.carousel > input:nth-of-type(1):checked ~ .carousel__slides .carousel__slide:first-of-type {
    margin-left: 0%;
}
.carousel > input:nth-of-type(1):checked ~ .carousel__thumbnails li:nth-of-type(1) {
    box-shadow: 0px 0px 0px 5px #FFC107;
}
.carousel > input:nth-of-type(2):checked ~ .carousel__thumbnails li:nth-of-type(2) {
    box-shadow: 0px 0px 0px 5px #FFC107;
}
.carousel > input:nth-of-type(3):checked ~ .carousel__thumbnails li:nth-of-type(3) {
    box-shadow: 0px 0px 0px 5px #FFC107;
}
.carousel > input:nth-of-type(4):checked ~ .carousel__thumbnails li:nth-of-type(4) {
    box-shadow: 0px 0px 0px 5px #FFC107;
}
.carousel > input:nth-of-type(5):checked ~ .carousel__thumbnails li:nth-of-type(5) {
    box-shadow: 0px 0px 0px 5px #FFC107;
}
.carousel > input:nth-of-type(6):checked ~ .carousel__thumbnails li:nth-of-type(6) {
    box-shadow: 0px 0px 0px 5px #FFC107;
}
.carousel > input:nth-of-type(7):checked ~ .carousel__thumbnails li:nth-of-type(7) {
    box-shadow: 0px 0px 0px 5px #FFC107;
}
.carousel > input:nth-of-type(8):checked ~ .carousel__thumbnails li:nth-of-type(8) {
    box-shadow: 0px 0px 0px 5px #FFC107;
}
.carousel__slides {
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    display: flex;
}
.carousel__slide {
    position: relative;
    display: block;
    flex: 1 0 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 300ms ease-out;
    vertical-align: top;
    box-sizing: border-box;
    white-space: normal;
}
.carousel__slide figure {
    display: flex;
    margin: 0;
}
.carousel__slide div {
    position: relative;
    width: 100%;
}
.carousel__slide div:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 60.6666666667%;
}
.carousel__slide div > img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.carousel__slide img {
    display: block;
    flex: 1 1 auto;
    object-fit: cover;
}
.carousel__slide figcaption {
    align-self: flex-end;
    padding: 20px 20px 0 20px;
    flex: 0 0 auto;
    width: 25%;
    min-width: 150px;
}
.carousel__slide .credit {
    margin-top: 1rem;
    color: rgba(0, 0, 0, 0.5);
    display: block;
}
.carousel__slide.scrollable {
    overflow-y: scroll;
}
.carousel__thumbnails {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin: 0 -10px;
}
.carousel__slides + .carousel__thumbnails {
    margin-top: 20px;
}
.carousel__thumbnails li {
    flex: 1 1 auto;
    max-width: calc((100% / 8) - 20px);
    margin: 0 10px;
    transition: all 300ms ease-in-out;
}
.carousel__thumbnails label {
    display: block;
    position: relative;
}
.carousel__thumbnails label:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 100%;
}
.carousel__thumbnails label > img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.carousel__thumbnails label:hover, .carousel__thumbnails label:focus {
    cursor: pointer;
}
.carousel__thumbnails label:hover img, .carousel__thumbnails label:focus img {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
    transition: all 300ms ease-in-out;
}
.carousel__thumbnails img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*************************************************/

.justify-content-center {
    display: flex;
    align-content: center;
    height: 80px;
    background-color : #201F1D !important;
}

.btn-close {
    background-color: white;
}

.btn-accueil, .btn-contact, .btn-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    box-shadow: 2px 2px 2px black;
}

.btn-nav:hover, .btn-right:hover {
    border-radius: 30px;
}

.nav-accueil, .nav-contact, .nav-gallery {
    margin-left : 15px;
    margin-right: 15px;
}

.nav {
    box-shadow: 0px 5px 10px black;
}

.nav-accueil a, .nav-contact a, .nav-gallery a {
    font-family: 'Quicksand', sans-serif;
    color : #232321;
    font-size: 15px;
    font-weight: 600;
    margin-left: 50px;
    margin-right: 50px;
}

.logoSinge {
    z-index : 10;
    top: 10px;
    left: 10px;
    position: absolute;
    width: 280px;
    border-radius : 200px;
}

.offcanvas-top {
    height: 100%;
    background-color: #2c2b28;
    color: white;
    overflow-y: hidden;
}

.offcanvas-right {
    background-color: #2c2b28;
    color: white;
}


/************ RESPONSIVE ORDINATEUR PETITE TAILLE ***************/

@media screen and (min-width: 780px) and (max-width: 1350px) {

    .bi-camera-fill {
        display: none;
    }

    .logoSinge {
        top: 350px;
        width: 200px;
    }
}

/************ RESPONSIVE TELEPHONE ***************/

@media screen and (max-width: 779px) {

    .logoSinge {
        display: none;
    }

    .bi-large {
        display: none;
    }

    .bi-phone {
        display: flex;
    }

    .nav {
        position: relative;
    }

    .logoSingePhone {
        display: flex;
        position: absolute;
        z-index: 99;
        width: 160px;
        top: 160px;
        left: 46%;
        transform: translate(-50%, -50%);
    }

    .btn-nav {
        margin-top: 25px;
        width: 65px;
        height: 65px;
    }

    .carousel {
        display: none;
    }

    .phone_gallery {
        display: flex;
        flex-direction: column;
    }

    .phone_gallery img {
        margin: 10px;
        border-radius: 5px;
    }

    .justify-content-center {
        display: flex;
        width: 100%;
        height: 150px;
        flex-wrap: nowrap;
    }

    .nav-link span {
        display: none;
    }

    .container {
        width: 125%;
    }

}