
.modal-content {
    width: 150%;
}

.video-responsive {
    overflow:hidden;
    padding-bottom:56.25%; 
    position:relative;
    height:0;
   }
   .video-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
   }
   
  @media screen and (min-width: 780px) and (max-width: 1350px) {

    .modal-content {
        width: 120%;
    }
  }

  @media screen and (max-width: 780px) {

    .modal-content {
        width: 100%;
    }
  }