.dropup {
  display: none;
}

.bloc {
    font-family: 'Cutive Mono', monospace;
    font-family: 'Quicksand', sans-serif;

}

.bloc-one, .bloc-two, .bloc-three {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bloc-video {
  display: flex;
  justify-content: center;
}

.video {
  font-size: 25px;
  font-family: 'Quicksand', sans-serif;
}

.video a {
  text-decoration: none;
  color: white;
}

.video:hover {
  transform: scale(1.03);
  transition-duration: 0.6s;
}

.video hr {
  color: white
}

.launch_btn {
  margin-top: 10px;
  padding: 5px;
  border-radius: 15px;
  font-size: 18px;
  border: none;
  background-color: #a1811f;
}

#logo_food, #logo_wine, #logo_bottle {
  width: 25px;
}


.launch_btn:hover {
  margin-top: 10px;
  background-color: #FFC107;
}

.background1, .background3 {
  position: absolute;
  z-index: -10;
  display: flex;
  background-color: #8a6d18;
  height: 100%;
  width: 47%;
  right: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.drink_btn, .food_btn {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.card-pic {
  width: 100%;
  opacity: 16%;
}

.background2 {
  position: absolute;
  z-index: -10;
  display: flex;
  background-color: #8a6d18;
  height: 100%;
  width: 53%;
  left: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

hr {
  color: black;
}

.btn-primary {
  position: absolute;
  background-color: #201F1D;
  color: #FFC107;
  border-color: #69520d;
  top: 40%;
  left: 50%;
  right: 50%;
  width: 80px;
  height: 80px;
  border-radius: 35px;
}

.btn-primary:hover {
  background-color: #a1811f;
  color: #201F1D;
  border-color: #201F1D;
}

.card {
  color: white;
  background-color: #201F1D;
}

.title {
  font-size: 30px;
  font-weight: bolder;
}

.cards_container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    font-size: 25px;
}

.chartreuse {
  text-overflow: ellipsis;
}

.bloc-one, .bloc-two, .bloc-three {
    width: 100%;
    color: white;
}

.bloc-two {
    align-self: end;
    text-align: end;
}

.overline {
    width: 25%;
}

.bloc-one {-webkit-animation:slide-in-blurred-top 1.2s cubic-bezier(.23,1.000,.32,1.000) both;animation:slide-in-blurred-top 1.2s cubic-bezier(.23,1.000,.32,1.000) both}
@keyframes slide-in-blurred-top {
    0% {
      transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      transform-origin: 50% 0%;
      filter: blur(40px);
      opacity: 0;
    }
    100% {
      transform: translateY(0) scaleY(1) scaleX(1);
      transform-origin: 50% 50%;
      filter: blur(0);
      opacity: 1;
    }
  }

.bloc-two {-webkit-animation:slide-in-blurred-top 2.0s cubic-bezier(.23,1.000,.32,1.000) both;animation:slide-in-blurred-top 2.0s cubic-bezier(.23,1.000,.32,1.000) both}
@keyframes slide-in-blurred-top {
    0% {
      transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      transform-origin: 50% 0%;
      filter: blur(40px);
      opacity: 0;
    }
    100% {
      transform: translateY(0) scaleY(1) scaleX(1);
      transform-origin: 50% 50%;
      filter: blur(0);
      opacity: 1;
    }
  }

  .bloc-three {-webkit-animation:slide-in-blurred-top 2.8s cubic-bezier(.23,1.000,.32,1.000) both;animation:slide-in-blurred-top 2.8s cubic-bezier(.23,1.000,.32,1.000) both}
  @keyframes slide-in-blurred-top {
    0% {
      transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      transform-origin: 50% 0%;
      filter: blur(40px);
      opacity: 0;
    }
    100% {
      transform: translateY(0) scaleY(1) scaleX(1);
      transform-origin: 50% 50%;
      filter: blur(0);
      opacity: 1;
    }
  }




/************ RESPONSIVE ORDINATEUR PETITE TAILLE ***************/

@media screen and (min-width: 1351px) and (max-width: 1610px) {

  .card-text, .subtitle {
    font-size: 20px;
}
}

@media screen and (min-width: 780px) and (max-width: 1350px) {

    .card {
        width: 30%;
    }

    .card-text, .subtitle {
        font-size: 15px;
    }

    #logo_raisin {
        display: none;
    }

}

/************ RESPONSIVE TELEPHONE ***************/

@media screen and (max-width: 779px) {

    .cards-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
        margin-bottom: 20px;
    }

    .video {
      font-size: 18px;
    }

    .title {
      font-size: 16px;
      padding: 8px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background-color: #201F1D;  
    }

    .subtitle {
      font-size: 16px;
    }

    .card-text {
      font-size: 15px;
    }

    .bloc {
      flex-direction: column;
    }

    .bloc-one, .bloc-two, .bloc-three {
      text-align: center;
      background-color: #a1811f;
      border-radius: 10px;
    }

    .card-text, .subtitle {
      width: 80%;
      margin: auto;
    }

    .background1, .background2, .background3 {
      width: 100%;
      border-radius: 10px;
      border: 2px solid black;
    }

    .card, .btn-tapas, .btn-boissons, .btn-tarifs {
      display: none;
    }

    .dropup {
      display: flex;
      justify-content: center;
      margin-top: 8px;
    }

    .dropdown-toggle {
      background-color: #201F1D;
    }

    .dropdown-item {
      z-index: 999;
    }

}