<div class="cards_container">

                        <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Carte des chartreuses</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <iframe src="../../assets/carte_chartreuses.pdf" height="700" width="500"></iframe>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Carte des vins</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <iframe src="../../assets/carte_des_vins.pdf" height="700" width="500"></iframe>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="bloc-one bloc">

        <div class="text">
            <p class="title"><strong>R e s t a u r a t i o n &nbsp; - &nbsp; T a p a s</strong></p>
            <p class="subtitle">Le midi en semaine</p>
            <p class="card-text">
                Restauration classique<br>
                Formule du jour<br>
                Suggestions<br>
            </p>
            <p class="subtitle">Les soirs et le samedi midi</p>
            <p class="card-text">
                Tapas chaudes et froides
            </p>
            <p>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
                <strong>Carte</strong>
            </button>
            </p>
        </div>

        <div class="background1">
            <img class="card-pic" src="../../assets/capture_video.png" alt="tapas">
        </div>

        <div class="card">
              <div style="min-height: 120px;">
                <div class="collapse collapse-horizontal" id="collapseWidthExample">
                  <div class="card card-body" style="width: 400px;">
                    Tapas à la carte 
                  </div>
                </div>
              </div>
        </div>
    </div>

    <hr>

    <div class="bloc-two bloc">
    
            <div class="card">
                  <div style="min-height: 120px;">
                    <div class="collapse collapse-horizontal" id="collapseWidthExample2">
                      <div class="card card-body" style="width: 400px;">
                        Cartes

                        <!-- Button trigger modal -->
                      <button type="button" class="launch_btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                       <strong>Chartreuses</strong>
                      </button>

                      <button type="button" class="launch_btn" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                       <strong>Vins</strong>
                      </button>

                      </div>
                    </div>
                  </div>
            </div>
          

            <div class="background2">
                <img class="card-pic" src="../../assets/boissons.jpg" alt="boissons">
            </div>

            <div class="text">
                <p class="title"><strong>B o i s s o n s</strong></p>
                <p class="card-text card-two">
                    Vins bio, biodynamie et naturels<br>
                    <span id="ref">Référencement sur le site Raisin</span><br><br>
                    Grand choix de cocktails maisons<br><br>
                    Une des plus belles cartes de Chartreuse de France
                </p>
                <p>
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample2" aria-expanded="false" aria-controls="collapseWidthExample2">
                        <strong>Carte</strong>
                    </button>
                </p>
            </div>
    </div>

    <hr>

    <div class="bloc-three bloc">

        <div class="text">
            <p class="title"><strong>E s p a c e &nbsp;p r i v a t i s a b l e</strong></p>
            <p class="card-text card-two">
                Privatisation de salle avec terrasse - Journée & Soirée <br><br>

                Pour un évènement professionnel<br><br>
                Pour un anniversaire<br><br>
                Pour une soirée entre amis<br><br>
                Pour tout autre événement festif
            </p>

            <p>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample3" aria-expanded="false" aria-controls="collapseWidthExample3">
                    <strong>Tarifs</strong>
                </button>
                </p>
            </div>

            <div class="background3">
                <img class="card-pic" src="../../assets/sallePriv2.jpeg" alt="terrasse">
            </div>
    
            <div class="card">
                  <div style="min-height: 120px;">
                    <div class="collapse collapse-horizontal" id="collapseWidthExample3">
                      <div class="card card-body" style="width: 400px;">
                        Tarifs
                      </div>
                    </div>
                  </div>
            </div>
    </div>


</div>
