<div class="line-container">
    <hr class="overline">
    <hr class="overline">
</div>

<div class="cards-container">

    <img id="logo_food" src="../../assets/logo_food.png" class="card-img-top" alt="Logo assiette">

    <div class="card">
        <img src="../../assets/tapas.jpg" class="card-img-top" alt="Image tapas">
        <div class="card-body">
            <div class="title-container">
                <p class="title">Restauration - Tapas</p>
            </div>
            <hr>
            <p class="subtitle">Le midi en semaine <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
              </svg></p>
            <p class="card-text">
                ⦁ Restauration classique<br>
                ⦁ Formule du jour<br>
                ⦁ Suggestions<br>
            </p>
            <hr>

            <p class="subtitle">Les soirs et le samedi midi <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
              </svg></p>
            <p class="card-text">
                ⦁ Tapas chaudes et froides
            </p>
            <hr>
            
        </div>
    </div>

    <img id="logo_drink" src="../../assets/logo_drink.png" class="card-img-top" alt="Logo bouteille">

    <div class="card">
        <img src="../../assets/boissons.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <div class="title-container">
                <p class="title">Boissons</p>
            </div>
            <hr>
            <p class="card-text card-two">
                ⦁ Vins bio, biodynamie et naturels<br><br>
                ⦁ Référencement sur le site Raisin <img id="logo_raisin" src="../../assets/logo_raisin.png" alt="logo site web Raisin"><br><br>
                ⦁ Grand choix de cocktails maisons<br><br>
                ⦁ Une des plus belles cartes de Chartreuse de France
            </p>
            <hr>
        </div>
    </div>


</div>
